<div class="table-box">
    <div class="login-box">
        <h1 class="title-form" translate>TITLE_TEXT</h1>
        <form action="" class="login-form" ng-submit="auth(login, password, ip, mac)">
            <div>
                <p>{{loginError | translate}}</p>
                <p>{{ message | translate }}</p>
            </div>
            <div class="line">
                <label for="log-btn" translate>USER_LOGIN_LABEL</label>
                <input name="login" ng-model="login" type="text" id="log-btn" value=""/>
            </div>
            <div class="line">
                <label  for="pass-btn" translate>USER_PASSWORD_LABEL</label>
                <input name="password" ng-model="password" type="password" id="pass-btn" value=""/>
            </div>
            <div class="line">
                <label  for="pass-btn">IP: </label>
                <input name="ip" ng-model="ip" type="text" value="172.23.1.148"/>
            </div>
            <div class="line">
                <label  for="pass-btn">MAC: </label>
                <input name="mac" ng-model="mac" type="text" value="50-E5-49-25-4D-E2"/>
            </div>
            <div class="padding">
                <button type="submit" class="button submit-btn" translate>SUBMIT_BUTTON_LABEL</button>
            </div>
            <a href="#/forgot" translate>FORGOT_PASSWORD_BUTTON_LABEL</a>
            <a href="#/registration" translate>CREATE_NEW_ACCOUNT</a>
        </form>
    </div>
</div>
