<div class="table-box ionic">
    <div class="login-box">
        <h1 class="title-form" translate>REGISTRATION</h1>

        <form novalidate action="" class="login-form" name="form" ng-model="form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>USER_FIRST_NAME</span>

                    <div class="item item-input item-input-icon">
                        <input type="text" name="fname" ng-model="user.fname" required/>
                        <i class="icon ion-alert-circled ng-invalid"
                           ng-show="form.fname.$dirty && form.fname.$invalid"></i>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>USER_LAST_NAME</span>

                    <div class="item item-input item-input-icon">
                        <input type="text" name="lname" ng-model="user.lname" required/>
                        <i class="icon ion-alert-circled ng-invalid"
                           ng-show="form.fname.$dirty && form.fname.$invalid"></i>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>USER_LOGIN_SCREEN_NAME</span>

                    <div class="item item-input item-input-icon">
                        <input type="text" name="login" ng-model="user.login" required ng-minlength="3"
                               maxlength="12" ng-pattern="/^[A-z0-9\._\\-]+$/"/>
                        <i class="icon ion-alert-circled" ng-show="form.login.$dirty && form.login.$invalid"></i>
                    </div>
                </label>

                <p translate>WARNING</p>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>USER_PASSWORD_LABEL</span>

                    <div class="item item-input item-input-icon">
                        <input name="password" ng-model="user.password" type="password" required maxlength="12"
                               ng-minlength="8"
                               ng-pattern="/^[A-z0-9\._\\-]*(?=\S*[A-z])(?=\S*\d)[A-z0-9\._\\-]*$/"
                                >
                        <i class="icon ion-alert-circled" ng-show="form.password.$dirty && form.password.$invalid"></i>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>CONFIRM_PASSWORD_LABEL</span>

                    <div class="item item-input item-input-icon">
                        <input name="repeatPassword" ng-model="user.repeatPassword" type="password" required
                               maxlength="12" ng-minlength="8"
                               ui-validate="'$value==user.password'" ui-validate-watch="'user.password'">
                        <i class="icon ion-alert-circled"
                           ng-show="form.repeatPassword.$dirty && form.repeatPassword.$invalid"></i>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>EMAIL</span>

                    <div class="item item-input item-input-icon">
                        <input name="email" ng-model="user.email" type="email" required>
                        <i class="icon ion-alert-circled" ng-show="form.email.$dirty && form.email.$invalid"></i>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>COUNTRY</span>

                    <div class="item item-input item-input-icon">
                        <select name="country" ng-model="user.country" required
                                ng-options="c.code as c.name for c in master.countries"></select>
                        <i class="icon ion-alert-circled" ng-show="form.country.$dirty && form.country.$invalid"></i>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PREFERRED_LANGUAGE</span>

                    <div class="item item-input item-input-icon">
                        <select name="lang" ng-model="user.lang" required
                                ng-options="c.code as c.name for c in master.language"></select>
                        <i class="icon ion-alert-circled" ng-show="form.lang.$dirty && form.lang.$invalid"></i>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>DATE_OF_BIRTH</span>

                    <div class="row">
                        <div class=" col col-33">
                            <i class="icon ion-alert-circled" ng-show="form.bmonth.$dirty && form.bmonth.$invalid"
                               style="position: absolute;top:4px;right: 16px;"></i>
                            <input name="bmonth" ng-model="user.bmonth" type="number" min="1" max="12"
                                   style="padding-right: 16px;"
                                   required placeholder="{{ 'MONTH' | translate }}"/>

                        </div>
                        <div class="col col-33">
                            <i class="icon ion-alert-circled"
                               ng-show="form.bday.$dirty && form.bday.$invalid"
                               style="position: absolute;top:4px;right: 16px;"></i>
                            <input name="bday" ng-model="user.bday" type="number" min="1" max="31"
                                   required
                                   placeholder="{{ 'DAY' | translate }}" style="padding-right: 16px;"/>

                        </div>
                        <div class="col col-33">
                            <input name="byear" ng-model="user.byear" type="number" min="1900" max="2000"
                                   required placeholder="{{ 'YEAR' | translate }}" style="padding-right: 16px;"/>
                            <i class="icon ion-alert-circled"
                               ng-show="form.byear.$dirty && form.byear.$invalid"
                               style="position: absolute;top:4px;right: 16px;"></i>
                        </div>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>AFFILIATE_CODE</span>

                    <div class="item item-input item-input-icon">
                        <input name="affiliate" ng-model="user.affiliate" type="text">
                        <i class="icon ion-alert-circled"
                           ng-show="form.affiliate.$dirty && form.affiliate.$invalid"></i>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>MOBILE_PHONE_NUMBER</span>

                    <div class="item item-input item-input-icon">
                        <input name="phone" ng-model="user.phone" type="tel" ng-pattern="/(\+?\d[- .]*){7,13}/"/>
                        <i class="icon ion-alert-circled" ng-show="form.phone.$dirty && form.phone.$invalid"></i>
                    </div>
                </label>
            </div>
            <div class="row">
                <button class="button button-block button-positive col-50" ng-click="createProfile(user)"
                        ng-disabled="form.$invalid" translate>
                    SUBMIT_BUTTON_LABEL
                </button>
                <button class="button button-block button-positive col-50" ng-click="cancel()"
                        translate>
                    CANCEL
                </button>
            </div>
        </form>
    </div>
</div>
